{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}
{{ user.username }}/{{ map.title }}
{% endblock %}

{% block scripts %}
        <script src="{% static 'swag/ext/p5.js' %}"></script>
        <script src="{% static 'swag/ext/swagmap/bin/swagmap.bundle.js' %}"></script>
	<script>
		// See here for more info:
		// https://github.com/tunapanda/swagmap/blob/master/test/view/apptest.html 
        var xApiParams={
            endpoint: "{{ swag.XAPI_URL }}",
            username: "{{ swag.XAPI_USER }}",
            password: "{{ swag.XAPI_PASS }}"
        };
		var app = new SwagMap();		
        app.setXApiStore(xApiParams);
        app.setActorEmail("{{ user.email }}");
        app.setMapUrl("{{ url }}");
		app.run();
	</script>
{% endblock %}

{% block content %}
    <!-- <div>EMAIL = {{ user.email }}</div>
    <div>TEST = {{ test }}</div> -->
{% endblock %}
