{% load staticfiles %}
{% load static %}
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static 'swag/css/map.css' %}">
		{% block scripts %}{% endblock %}
	</head>
	<body>
	{% block content %}
        {% if user.is_authenticated %}
            <div>Hello, {{ user.username }}</div>
        {% else %}
            <div> Not logged in? user = {{ user.username }}</div>
        {% endif %}
		<div class="heading">{% block heading %}{% endblock %}</div>
		<div class="subheading">{% block subheading %}{% endblock %}</div>
		<div class="main">{% block main %}{% endblock %}</div>
	{% endblock %}
	</body>
</html>
